<h2 class="text-center mb-4">Rejestracja</h2>

<div class="d-flex justify-content-center">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mb-3">
          <%= f.label :email, class: "control-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :hasło, class: "control-label" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> znaków minimum)</em>
          <% end %>
          <%= f.password_field :hasło, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :potwierdź_hasło, class: "control-label" %>
          <%= f.password_field :potwierdź_hasło, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group text-center mb-3">
          <%= f.submit "Zarejestruj się", class: "btn btn-primary", data: { turbo: false } %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
