<head>
  <title>Strona Główna</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Strona Główna", home_pages_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Dodaj nowy post", new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Znajdź Post", find_pages_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Polityka Prywatności", privacy_pages_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item">
            <span class="nav-link">Cześć <%= current_user.email %></span>
          </li>
          <li class="nav-item ml-3">
            <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <span class="nav-link">Nie jesteś zalogowany</span>
          </li>
          <li class="nav-item ml-3">
            <%= link_to "Zarejestruj się", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to "Zaloguj się", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center">
      <h1>Strona Główna</h1>
    </div>
  </div>
</div>

<% if current_user %>
  <p>Cześć <%= current_user.email %></p><br>
  <p>Twoje role: <%= current_user.roles.map(&:name).join(", ") %></p><br>
  <% if current_user.has_role?(:admin) %>
    <p>Liczba wszystkich użytkowników: <%= User.count %></p>
  <% end %>
<% else %>
  <p>Nie jesteś zalogowany.</p><br>
  <p>Możesz zamieszczać tylko komentarze.</p>
<% end %>



