<head>
  <title>Strona Główna</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Strona Główna", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Dodaj nowy post", 'posts/new', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Znajdź Post", 'find', class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Polityka Prywatności", 'privacy', class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center">
      <h1>Strona Główna</h1>
    </div>
  </div>
</div>

<% if current_user %>
  <p>Hello <%= current_user.email %></p><br>
  <p>You have roles: <%= current_user.roles.map(&:name).join(", ") %></p><br>
  <% if current_user.has_role?(:admin) %>
    <p>User Total count: <%= User.count %></p>
  <% end %>
  <%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <p>You are not signed in</p>
  <p>
    <%= link_to "Sign up", new_user_registration_path %><br>
    <%= link_to "Login", new_user_session_path %>
  </p>
<% end %>



