<head>
  <title>Post</title>
  <%= javascript_include_tag 'controllers/edit_post' %>
  <%= javascript_include_tag 'controllers/edit_comment' %>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Strona Główna", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Dodaj nowy post", 'new', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Znajdź Post", '/find', class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Polityka Prywatności", '/privacy', class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="rounded border p-4 bg-light">
        <h1><%= @post.title %></h1>
        <p><%= @post.author %></p>
        <p><%= @post.content %></p>
        <p>Ostatnia data modyfikacji: <%= @post.updated_at.strftime("%d %b %Y %H:%M:%S") %></p>
        <% if current_user&.admin? %>
          <button class="btn btn-secondary edit-post-btn" data-post-id="<%= @post.id %>">Edytuj post</button>
        <% end %>
      </div>

      <div id="post-edit-form-<%= @post.id %>" class="post-edit-form rounded border p-4 bg-light mb-4" style="display: none;">
        <%= form_with(model: @post, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :content %>
            <%= form.text_area :content, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.submit 'Edytuj', class: "btn btn-primary" %>
            <button type="button" class="btn btn-secondary cancel-edit-post-btn" data-post-id="<%= @post.id %>">Porzuć</button>
          </div>
        <% end %>
      </div>
      <% if @post.comments.any? %>
        <div class="comment-section rounded border p-4 bg-light mb-4" style="max-height: 300px; overflow-y: auto;">
          <% @post.comments.each do |comment| %>
            <div class="comment rounded border p-4 bg-light mb-4">
              <p><%= comment.comment_author %></p>
              <p><%= comment.content %></p>
              <p><%= comment.timestamp&.strftime("%d %b %Y %H:%M:%S") %></p>
              <% if current_user&.admin? %>
                <button class="btn btn-secondary edit-comment-btn" data-comment-id="<%= comment.id %>">Edytuj komentarz</button>

                <%= form_with(model: [@post, comment], method: :delete, local: true) do %>
                  <%= submit_tag 'Usuń komentarz', class: "btn btn-danger" %>
                <% end %>
              <% end %>
            </div>

            <div id="comment-edit-form-<%= comment.id %>" class="comment-edit-form rounded border p-4 bg-light mb-4" style="display: none;">
              <%= form_with(model: [@post, comment], local: true) do |form| %>
                <div class="form-group">
                  <%= form.label :content %>
                  <%= form.text_area :content, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= form.submit 'Edytuj', class: "btn btn-primary" %>
                  <button type="button" class="btn btn-secondary cancel-edit-comment-btn" data-comment-id="<%= comment.id %>">Porzuć</button>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="rounded border p-4 bg-light">Brak komentarzy.</p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'comments/form' %>